#version=RHEL8

# Network information
network --hostname=centos-8
# Root password
rootpw --plaintext vagrant

# Use text install
text
# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# System language
lang en_US.UTF-8
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System timezone
timezone Europe/Bratislava --isUtc --nontp

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda --append="crashkernel=auto"
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information (in MiB)
part /boot --asprimary --fstype="ext4" --ondisk=sda --size=2048
part pv.8 --asprimary --fstype="lvmpv" --ondisk=sda --size=141320
volgroup centos --pesize=4096 pv.8
logvol / --fstype="ext4" --size=51200 --name=root --vgname=centos
logvol /home --fstype="ext4" --size=10240 --name=home --vgname=centos
logvol /opt --fstype="ext4" --size=10240 --name=opt --vgname=centos
logvol /tmp --fstype="ext4" --size=10240 --name=tmp --vgname=centos
logvol /usr --fstype="ext4" --size=30720 --name=usr --vgname=centos
logvol /var --fstype="ext4" --size=20480 --name=var --vgname=centos
logvol swap --fstype="swap" --size=8192 --name=swap --vgname=centos

# Reboot after installation
reboot --eject

%packages
@^minimal-environment
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
